
.producTitle{
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 30%;
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.color{
    border-left: solid 2px royalblue;
}
.color > i {
    cursor: pointer;
    color: rebeccapurple ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.color > label {
    cursor: default;
    color: aliceblue !important;
    font-size: 25px !important;
}

.color > button{
    background: transparent;
    border: none;
    color: rebeccapurple ;
    cursor: pointer;
}

#mainDivPr{
    display: flex;
    flex-direction: row;
    
}

#mainDivPr :hover{
    --transform: scale(1.2);
    background-color: #2e313b;
    
}




.containerNoBs{
    display: flex;
    
    margin-bottom: 15px;
}


.column{
    padding: 15px;
    width: auto;
 
    
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.column input{
    background-color: #313c5e;
    border: none;
    color: white;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
    width: 100px;
    margin-left: 30px;
    margin-top: 2px;
    
}

.column label{
    width: 70px;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    text-align: start;
    cursor: default;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}

.col{
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    text-align: start;
}

.sensitiveDivisor{
    opacity: 0.2;
    width: auto;
    margin-bottom: 15px;
}