#dibsub2{
    border: solid 2px black;
   color: white;
   
}

.producTitle{
    background-color: #202945;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}


#mainDivPr{
    display: flex;
    flex-direction: row;
    
}

#mainDivPr :hover{
    transform: scale(1.2);
    
}

.cardContainer{
    padding: 0.5px;
    text-align: center;
    border: solid 0.5px white;
    width: 220px;
    height: 250px;
    color: white;
    margin-left: 35px;
    transition: transform .4s;
}

.cardContainer :hover{

}


