
.frmSales{
    background-color: #141414;
}



.btnSubSales{
    cursor: pointer;
    background: transparent;
    background-color: #313c5e;
    color: white;
    border: none;
    margin-top: 15px;
    width: 110px;
    height: 30px;
    display: none;

}

.disabledSubmit{
    cursor: not-allowed;
    background-color: rgb(134, 141, 153);
    color: tomato;

}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    
}


.flexbox-container > div {
    background-color: #202945;
    border-radius: 0px;
	width: 50%;
	padding: 10px;
  
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

.flexbox-container > div > label {
    cursor: default;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
	--display: block;
 
}

.flexbox-container > div > select {
    margin-top: 15px;
	display: block;
 
}

.center{
    justify-content: center;
}

.LabelaStyle{
    color: aliceblue;
    cursor: default;
}

.selectClient{
    display: block;
    color: white;
    text-align:center;
    background: #202945;
    border: none;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    width: 250px;
}

.inputSAle{

    display: block;
    color: white;
    text-align:center;
    background: #202945;
    border: none;
    font-size: 14px;
    height: 40px;
    padding: 0px;
    width: 250px !important;

}

.inputPayment{
    
    display: block;
    color: white;
    text-align:center;
    background: #202945;
    border: none;
    font-size: 14px;
    height: 40px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 15px;
    width: 150px !important;
}

.inptModif > label{
    cursor: default;
   margin-top: 15px;
    color: white;
   
}


.mt-15{
    margin-top: 15px;
}

.salesRes{
    align-items: center;
    text-align: center;
    
}

.salesRes > p{
    color:white
}
